@font-face {
  font-family: 'Alegreya-BoldItalic';
  src: url('Alegreya-BoldItalic.eot');
  src: url('Alegreya-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('Alegreya-BoldItalic.svg#Alegreya-BoldItalic') format('svg'),
       url('Alegreya-BoldItalic.ttf') format('truetype'),
       url('Alegreya-BoldItalic.woff') format('woff'),
       url('Alegreya-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

